@mixin breakpoint($bp, $direction: min) {
  @media screen and (#{$direction}-width: $bp)  {
    @content;
  }
}

@mixin font-size($pxSize) {
  font-size: $pxSize; // fallback in px (also good for sanity-checking)
  font-size: px-to-rem($pxSize);
}

@mixin hover-text-color-transition(){
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

@mixin position-transition(){
  -webkit-transition: all .5s cubic-bezier(.3,.21,.37,.92);
  -moz-transition: all .5s cubic-bezier(.3,.21,.37,.92);
  -ms-transition: all .5s cubic-bezier(.3,.21,.37,.92);
  -o-transition: all .5s cubic-bezier(.3,.21,.37,.92);
  transition: all .5s cubic-bezier(.3,.21,.37,.92);
}
