// Screensize breakpoints
$bp-320: 320px;
$bp-480: 480px;
$bp-568: 568px;
$bp-640: 640px;
$bp-768: 768px;
$bp-900: 900px;
$bp-1024: 1024px;
$bp-1025: 1025px;
$bp-1130: 1130px;
$bp-1200: 1200px;
$bp-1350: 1350px;
$bp-1366: 1366px;
$bp-1590: 1590px;
$bp-1920: 1920px;
$bp-2150: 2150px;
$bp-2560: 2560px;

// Z-index layers
$z-index-0: 0;
$z-index-normal: 1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;

// Colors
$gray: rgb(168, 168, 168);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
