.container, .story{
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
  color: #fffcfc;
  position: relative;
}

.story{
  padding: 8em 0;
  margin-bottom: 80px;

  .video{
    padding: 4em 0;
    width: 30.1%;
    height: 400px;
    margin: 0 auto;
  }

  .story-container{
    width: 60.94%;
    margin: 1em auto;
    justify-content: space-between;

    .story-image{
      width: 48.72%;
      height: auto;
      margin-bottom: 150px;

      img{
        width: 100%;
      }
    }

    article{
      width: 48.72%;

      h1{
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 0;
      }

      p{
        margin-top: 5px;
        font-size: 19px;
        line-height: 1.7;
      }

      button{
        width: 33.1%;
        padding: 10px;
        background-color: $light-gray;
        border: 2px solid $light-gray;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include hover-text-color-transition();

        &:hover{
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.container {
  display: flex;

  .text {
    width: 50%;
    font-size: 1.6em;
    padding: 3% 3%;
  }

  .image {
    width: 50%;
    overflow: hidden;
    background-image: url("/images/closeUpBottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
