.flavorContainer {
    margin-top: 80px;
    height: 50vw;
    width: 150vw;
    display: block;
    img {
        height: 40vw;
        margin-top: 5%;
        margin-left: 20%;
        display: inline-block;
    }
    div {
        width: 40vw;
        display: inline-block;
        margin-right: 10%;
        p {

        }
    }
}
