.siteName {
    text-align: center;
    width: 50vw;
    margin: auto;
    font-family: yantramanav;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5em;
    img {
        width: 200px;
        margin-bottom: 20px;
    }
    h3 {

        font-size: 3em;
        line-height: 50px;
        color: #3b3b3b;
        margin: 0;
    }
    h4 {
        font-size: 1.125em;
    }
}

.marketImages{
  margin:auto;
  width:50%;

  @include breakpoint($bp-768) {
    margin:auto;
    width:100%;
  }
}

.image-wrapper {
  height: auto;
  text-align: center;
}

.viewFlavors {
    text-align: center;
    width: 60vw;
    margin: auto;
    h3 {
        color: rgb(10,8,8);
        font-family: Skranji, cursive, serif;
        font-size: 20px;
        letter-spacing: 0.25em;
        word-spacing: 0.15em;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    a {
        cursor: pointer;
        border: 3px solid #3b3b3b;
        font-size: 12px;
        font-family: Yantramanav;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 2px;
        padding: 8px 20px;
    }
    a:hover {
        background-color: #3b3b3b;
        color: white;
    }
}
