.beer-info {
   display: flex;
   flex-direction: column;
   padding: 2em;
   margin: 0;
   font-family: yantramanav;

   .row {
      display: flex;
      flex-direction: column;
      
      justify-content: space-between;
   }

   h3, img {
      flex: 1;
      margin: 0;
      align-self: center;
      line-height: 1em;
   }

   img {
      /* maintain img aspect ratio */
      display: block;
      width: 100%;
      height: 100%;
   }

   h3 {
      font-size: 2em;
      margin-top: 0.5em;
      margin-left: 0;
   }

   p {
      font-size: 1.2em;
   }

   /* Display img and h3 on same line on large screens */
   @include breakpoint($bp-900) {
      .row {
         flex-direction: row-reverse;
      }

      h3 {
         font-size: 3em;
         margin-top: 0;
         margin-right: 0.5em;
      }
   }

   @include breakpoint($bp-640) {
      padding: 5em;
   }

   @include breakpoint($bp-1024) {
      p {
         font-size: 1.6em;
      }

      h3 {
         font-size: 3.4em;
      }
   }
}


.beer-gallery {
   display: flex;
   flex-wrap: wrap;
   margin: 0 1.5rem;

   .img-container{
      cursor: pointer;
      overflow: hidden;
      background-color: black;

      /*because it contains absolutely positioned divs*/
      position: relative;

      /*display 1 image per row on small screens*/
      width: 100%;

      /*fallback for no flexbox */
      float: left;

      .img{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background: center center;
         background-size: cover;
         display: block;
         /*zoom transition*/
         transition: transform 0.66s ease-out;
      }

      /*to darken image on hover*/
      .overlay{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: black;
         opacity: 0;
         transition: opacity 0.2s ease;
      }

      /*consider adding this on focus as well if images are focus-able*/
      &:hover{
         .overlay{ opacity: 0.4 }

         .img{ transform: scale(1.2) }
      }

      /*force 1:1 aspect ratio*/;
      &:before{
         content: "";
         display: block;
         margin-top: 100%;
      };

   }
}


@media screen and (min-width: $bp-480){
   .beer-gallery{
      /*display 2 images per row*/
      .img-container{
         width: 50%;
      }
   }
}

@media screen and (min-width: $bp-900){
   .beer-gallery{
      margin: 0 3rem;

      /*display 3 images per row*/
      .img-container{
         width: 33.33%;
      }
   }
}

