#news-ontap-container {
  border: 1px solid $black;
  margin: auto;
  max-width: 90%;

  #tap-flavors {
    max-width: 80%;
    margin: auto;
    padding: 20px 20px;

    p {
      color: $gray;
      padding: 8px 0;
    }
  }
}
