.carousel-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;

  .img-container {
    background-color: $black;
    border: 2px solid $black;
    height: 400px;
    margin: auto;
    overflow: hidden;
    width: 800px;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .nav-wrapper {
    text-align: center;
  }

  .animate-show,
  .animate-hide {
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .animate-show.ng-hide-remove,
  .animate-hide.ng-hide-add.ng-hide-add-active {
    width: 0;
  }

  .animate-hide.ng-hide-add,
  .animate-show.ng-hide-remove.ng-hide-remove-active {
    width: 100%;
  }
}
