.carousel-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .img-container {
    width: 800px;
    height: 400px;
    border: 2px solid black;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .nav-wrapper {
    text-align: center;
    span {
    }
  }

  .animate-show,
  .animate-hide {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
  }

  .animate-show.ng-hide-remove,
  .animate-hide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }

  .animate-hide.ng-hide-add,
  .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: inline !important;
  }
}
