.menu-button {
  display: inline;
  position: relative;

  span {
    padding: 0 10px;
  }

  .icon {
    span {
      display: inline-block;
      height: 0;
      overflow: hidden;
      width: 0;
    }
  }

  .sub-menu-nav{
    width: 100%;
    padding: 5px;
    height: 78px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 10;

    a{
      color: $gray;
    }
  }
}
