.menu-button {
    display: inline;

    .header-fa{
      span{
         display: inline-block;
         width: 0;
         height: 0;
         overflow: hidden;
      }
    }
}

.fa-user:after{
   content: "user";
}

.fa-shopping-cart:after{
   content: "cart";
}
