.container-footer {
  background-color: $light-gray;
  font-family: 'yantramanav';

  .footer-top {
    display: flex;
    justify-content: space-evenly;

    .footer-left {
      // border: 1px solid black;
      width: 35%;

      .contact-form {
        .contact-form-header {
          font-size: 50px;
          margin: 20px 0 5px 0;
          text-align: center;
          text-transform: uppercase;
        }

        form {
          margin: 0 auto;
          padding: 1px;

          button {
            border: 3px solid $black;
            background-color: $white;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover {
              color: $white;
              background-color: $black;
            }
          }

          input {
            height: 40px;
          }

          label {
            margin-top: -20px;
            height: 15px;
            padding: 2px 5px;
            color: $gray;
            font-size: 14px;
            overflow: hidden;
          }

          li {
            padding: 10px;
            border: 1px solid $light-gray;
            border-radius: 3px;
          }

          textarea {
            height: 175px;
            resize: none;
          }

          ul {
            list-style: none;
          }

          input,
          textarea {
            border: none;
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 0;
            line-height: 35px;
            outline: none;
            width: 100%;
          }

          input,
          textarea,
          button {
            font-family: inherit;
          }
        }
      }
    }

    .footer-right {
      .contactHours {
        text-transform: uppercase;

        .hours-header {
          font-size: 50px;
          margin: 20px 0 5px 0;
          text-align: center;
        }

        table {
          margin: auto;

          tr {
            td {
              padding: 0 10px;
            }

            td:last-child {
              text-align: center;
            }
          }
        }
      }

      .contactAddress {
        text-align: center;
        h4 {
          margin: 25px 0 5px 0;
          text-transform: uppercase;
        }

        p {
          margin: 5px;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 10px 0 10px;

    .copyright-text {
    }

    .footer-links {
      a {
        padding: 0 10px;
      }
    }

    .link-to-top {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
