.container-footer {
  .copyright-text {
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .footer-links{
  	z-index: $z-index-normal;
  }
}

.container-footer {
  .link-to-top {
    color: white;
    text-decoration: none;
  }
}
