.container-main {
  .container-top {
    display: flex;
    flex-direction: column;
    height: 92.9vh;
    .container-header {
      flex: 0 0 auto;
      flex-direction: column;
      display: flex;

      @include breakpoint($bp-768) {
        flex: 0 0 12%;
        height: 50vh;
        justify-content: stretch;
      }

      .container-menu {
        // background-color: #31b0d5;
        height: 12%;
        padding: 15px 0;
        width: 100%;
<<<<<<< HEAD
        background-color: $white;
=======
>>>>>>> 6d065f7a8051c931c8e0c47de11a2714a36c8655

        @include breakpoint($bp-768) {
          height: auto;
          width: 100vw;
        }

      }
	  .container-menu-transparent {
        height: 150px;
        width: 100%;
        background-color: transparent;

        @include breakpoint($bp-768) {
          width: 100vw;
          height: auto;
        }

		}

    .container-body {
      flex: 0 0 auto;

      @include breakpoint($bp-768) {
        flex: 1 0 auto;
        /*height: 93vh;*/
        /* setting the hieght causes body to overlap the footer making the links non-funcitonal */
        overflow-y: scroll;
      }
    }
  }

  .container-footer {
    flex: 0 0 5vh;
    background-color: #b99967;
  }
 
}
}
